.gallery{
    grid-column: 1/-1;
}

.gallery-section{
    padding: 1rem;
    display: grid;
    grid-template-rows: repeat(3,280px);
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: 
    'img1 img1 img2'
    'img3 img4 img2'
    'img3 img5 img5';
    gap: 10px;
}

.gallery-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0.5rem;
}

.gallery-img1{
    grid-area: img1;
    background-image: url(../image/late\ 3.jpg);
}   

.gallery-img2{
    grid-area: img2;
    background-image: url(../image/pizaa\ 3.jpg);
}

.gallery-img3{
    grid-area: img3;
    background-image: url(../image/egg\ 1.jpg);
}

.gallery-img4{
    grid-area: img4;
    background-image: url(../image/salad\ 5.jpg);
}

.gallery-img5{
    grid-area: img5;
    background-image: url(../image/steak.jpg);
}


@media screen and (max-width:768px) {
    .gallery-section{
        grid-template-areas: 
        'img3 img1 img1'
        'img3 img2 img4'
        'img5 img5 img5'
        ;
    }
}

@media screen and (max-width:578px) {
    .gallery-section{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,280px);
        grid-template-areas: 
        'img1 img1'
        'img2 img3'
        'img4 img3'
        'img5 img5'
        ;
    }
}